* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.outer {
    width: 600px;
    overflow: hidden;
}

.inner {
    width: 500%;
    height: 100%;
    position: relative;

}

.slide {
    width: 21%;
    height: 100%;
    float: left;
    align-items: center;
}


.button1 {

    position: absolute;
}

.button2 {
    position: absolute;

}

.left {
    cursor: pointer;
}

.right {
    right: 27%;
    cursor: pointer;
}

button {
   
    text-align: center;
    position: absolute;
    top: 125px;
    right: 138px;
    font-size: 16px;
    cursor: pointer;
}